@model EFCoreCRUD.Models.ViewModels.Usuario

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<form asp-action="Editar" method="post">
    @await Html.PartialAsync("_Visualizar")
    <div class="row">
        <div class="col-md-12 text-right">
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            <button class="btn btn-secondary" type="reset">Excluir</button>
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
