@model EFCoreCRUD.Models.ViewModels.Usuario

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Usuário</h4>
<hr />
<form asp-action="Editar" method="post">
    @await Html.PartialAsync("_Visualizar")
    <div class="row">
        <div class="col-md-12 text-right">
            <a asp-action="Index" class="btn botao-secundario">Voltar</a>
            <button class="btn botao-perigo" type="button" data-toggle="modal" data-target="#modalExcluir">Excluir</button>
            <button class="btn botao-primario" type="submit">Salvar</button>
        </div>
    </div>

    <div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Excluir</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Deseja realmente excluir?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn botao-secundario" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn botao-primario" formnovalidate formaction="Excluir">Sim</button>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        document.getElementById("inputCodigo").disabled = true;
</script>
}
