@model EFCoreCRUD.Models.ViewModels.Usuario

@{
    ViewData["Title"] = "Inserir";
}

<h1>Inserir</h1>

<h4>Usuario</h4>
<hr />
<form asp-action="Inserir" method="post">
    @await Html.PartialAsync("_Visualizar")
    <div class="row">
        <div class="col-md-12 text-right">
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            <button class="btn btn-secondary" type="reset">Limpar</button>
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById("divCodigo").hidden = true;
    </script>
}
